# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Database files
video_db.sqlite

# Uploaded files
uploads/

# Video files
videos/

# Extra files
video_service2.py
video_service3.py



